@import url(https://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic);

html,
body
{
    height: 100%;
    margin: 0;
}

header,
main
{
    min-width: 425px;
    margin: 0 auto;
    max-width: 1710px;
    padding: 10px 0;
    background-color: #63add0;
}

header
{
    text-align: center;
}

h1
{
    margin: 0;
    padding: 10px 0;
    font-family: 'Neucha', cursive;
    font-size: 150px;
    color: #034769;
    letter-spacing: 15px;
    word-wrap: break-word;
}

.showTypeTable
{
    display: none;
}

.showTypeTableLabel
{
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('table.png') no-repeat;
    margin: 0 15px;
}

.showTypeList
{
    display: none;
}

.showTypeListLabel
{
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('list.png') no-repeat;
    margin: 0 15px;
}

.showTypeTableLabel,
.showTypeListLabel
{
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.showTypeTableLabel:hover,
.showTypeListLabel:hover
{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.catItem
{
    display: inline-block;
    vertical-align: bottom;
    background-color: #ffbe73;
    padding: 10px;
    margin: 10px;
    border: 2px solid #034769;
}

.catItem:hover
{
    background-color: #ffd073;
}

.photoContainer
{
    height: 300px;
    max-height: 300px;
    width: 380px;
    max-width: 380px;
    overflow: hidden;
    position: relative;
}

.catImage
{
    max-height: 300px;
    max-width: 380px;
    position: absolute;
    bottom: 0;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.photoContainer:hover .catImage
{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.catName
{
    display: block;
    text-decoration: none;
    color: #034769;
    font-size: 40px;
    margin: 3px 0;
    width: 380px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.catName:hover
{
    color: #f00;
    text-decoration: underline;
}

.catCategory
{
    color: #235d79;
    font-size: 14px;
    margin: 3px 0 10px;
}

.catSubcategory
{
    text-decoration: none;
}

.catSubcategory:hover
{
    text-decoration: underline;
}

.catRating
{
    margin: 15px 0;
}

.catPrice
{
    font-size: 30px;
    color: #a00;
    margin: 3px 0;
}

.catPrice::after
{
    content: 'р.';
}

.catOldPrice
{
    font-size: 18px;
    color: #000;
    text-decoration: line-through;
}

.catOldPrice::after
{
    content: 'р.';
}

.catDescription
{
    font-size: 15px;
    margin: 25px 0 0;
}

.catDescriptionHeader
{
    font-weight: bold;
}

p
{
    margin: 10px 0;
}

.showTypeTable:checked ~ .catItem
{
    width: 380px;
    max-width: 380px;
    height: 630px;
    max-height: 630px;
}

.showTypeList:checked ~ .catItem
{
    display: block;
    min-width: 1400px;
    height: auto;
}

.showTypeList:checked ~ .catItem .photoContainer
{
    vertical-align: top;
    display: inline-block;
    margin: 0 80px 0 5px;
    height: 100%;
}

.showTypeList:checked ~ .catItem .photoContainer .catImage
{
    position: relative;
}

.showTypeList:checked ~ .catItem .infoContainer
{
    display: inline-block;
    vertical-align: top;
}

.showTypeList:checked ~ .catItem .infoContainer .catMainInfo
{
    vertical-align: top;
    display: inline-block;
    margin-top: 0;
}

.showTypeList:checked ~ .catItem .infoContainer .catDescription
{
    vertical-align: top;
    display: inline-block;
    max-width: 500px;
    margin-top: 0;
}

.catRating
{
    position: relative;
    height: 48px;
    width: 240px;
    font-size: 0;
    display: table;
}

.stars_off,
.stars_on,
.stars_selected
{
    position: absolute;
    left: 0;
    height: 48px;
    top: 0;
    background-repeat: repeat-x;
    pointer-events: none;
}

.stars_off
{
    width: 240px;
    background-image: url('star_off.png');
    z-index: 0;
}

.stars_on
{
    width: 0;
    background-image: url('star_on.png');
    z-index: 1;
}

.stars_selected
{
    width: 0;
    background-image: url('star_select.png');
    z-index: 2;
}

.starRadio
{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 48px;
    opacity: 0;
}

input.star0_5:checked ~ .stars_on,
input.star0_5:hover ~ .stars_selected
{
    width: 10%;
}

input.star1:checked ~ .stars_on,
input.star1:hover ~ .stars_selected
{
    width: 20%;
}

input.star1_5:checked ~ .stars_on,
input.star1_5:hover ~ .stars_selected
{
    width: 30%;
}

input.star2:checked ~ .stars_on,
input.star2:hover ~ .stars_selected
{
    width: 40%;
}

input.star2_5:checked ~ .stars_on,
input.star2_5:hover ~ .stars_selected
{
    width: 50%;
}

input.star3:checked ~ .stars_on,
input.star3:hover ~ .stars_selected
{
    width: 60%;
}

input.star3_5:checked ~ .stars_on,
input.star3_5:hover ~ .stars_selected
{
    width: 70%;
}

input.star4:checked ~ .stars_on,
input.star4:hover ~ .stars_selected
{
    width: 80%;
}

input.star4_5:checked ~ .stars_on,
input.star4_5:hover ~ .stars_selected
{
    width: 90%;
}

input.star5:checked ~ .stars_on,
input.star5:hover ~ .stars_selected
{
    width: 100%;
}
