h1
{
    text-align: center;
    font-size: 32px;
}

article
{
    background: #fff;
    border: 2px solid #fff;
}

.header-link
{
    display: block;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: #1d6b70;
    margin: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header-link:hover
{
    color: #d92f11;
}

.list
{
    font: 18px/9px serif;
    display: inline-block;
}

.tile
{
    font: 18px/18px serif;
    display: inline-block;
}

.category
{
    display: inline-block;
    text-align: left;
    margin: 5px;
}

.category a:hover
{
    color: #d92f11;
}

.rating
{
    font-size: 35px;
}

.price,
.old-price
{
    color: #d92f11;
    font-size: 20px;
    font-weight: bold;
}

.old-price
{
    text-decoration: line-through;
}

#list-view:checked ~ article
{
    display: block;
    margin: 5px;
    padding: 10px;
}

#list-view:checked ~ article img
 {
     width: 80%;
     display: block;
     margin: 0 auto;
 }

#list-view:checked ~ article img:hover
{
    width: 90%;
    display: block;
    margin: 0 auto;
}

#list-view:checked ~ article > div
{
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

#block-view:checked ~ article
{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    height: 100%;
    width: 280px;
    vertical-align: bottom;
}

#block-view:checked ~ article > div
{
    display: block;
    width: 280px;
}

#block-view:checked ~ article img
{
    width: 80%;
    display: block;
    margin: 0 auto;
}

article:hover
{
    background: #deddff;
    border: 2px dotted #c0bbcb;
}

#block-view:checked ~ article img:hover
{
    width: 100%;
}
