.row
{
    padding: 0;
    width: 100%;
}

.character a
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.old
{
    text-decoration: line-through;
}

.cat
{
    border: 3px solid #410068;
    background-color: #bbb;
}

.cat:hover
{
    box-shadow: 0 0 20px #000845;
}

#tiles:checked ~ .row > .cat
{
    width: 300px;
    height: 600px;
    display: block;
    position: relative;
    left: 0;
    right: auto;
    float: left;
    margin: .4em;
    padding: .2em;
}

#tiles:checked ~ .row .picha
{
    width: auto;
    height: 40%;
    position: relative;
    align-content: center;
    bottom: 0;
}

#tiles:checked ~ .row .cat-img
{
    max-height: 98%;
    max-width: 98%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#tiles:checked ~ .row .character
{
    padding: 0 6px;
}

#tiles:checked ~ .row .description
{
    padding: 0 6px;
}

#list:checked ~ .row .cat
{
    width: 98%;
    height: 250px;
    margin: .4em;
    padding: .2em;
    display: block;
    position: relative;

    left: 0;
    right: auto;
    float: left;
}

#list:checked ~ .row .picha
{
    width: 19%;
    height: 100%;
    position: relative;
    left: 0;
    float: left;
}

#list:checked ~ .row .cat-img
{
    max-height: 98%;
    max-width: 98%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
}

#list:checked ~ .row .character
{
    width: 53%;
    height: 100%;
    left: 0;
    float: left;
    padding-left: 2%;
}

#list:checked ~ .row .description
{
    width: 26%;
    height: 100%;
    left: 0;
    float: left;
}

.rating
{
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input
{
    float: right;
    width: 20px;
    height: 40px;
    padding: 0;
    margin: 0 0 0 -40px;
    opacity: 0;
}

.rating-star,
.rating:hover .rating-star
{
    position: relative;
    float: right;
    display: block;
    width: 20px;
    height: 40px;
    background: url('https://pp.vk.me/c624916/v624916151/6369a/JKksOx2PFIY.jpg') 0 -40px;
}

.rating-star:nth-child(4n),
.rating:hover .rating-star:nth-child(4n)
{
    background: url('https://pp.vk.me/c624916/v624916151/63693/vBlqD52Py-4.jpg') 0 -40px;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star
{
    background-position: top;
}
