.item
{
    padding: 15px;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    width: 350px;
    border: 2px solid #fff;
}

.item:hover
{
    background: rgba(67,158,210,.2);
    border: 2px solid #04396c;
    -webkit-box-shadow: 10px 10px 25px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 10px 10px 25px 0 rgba(0,0,0,.5);
    box-shadow: 10px 10px 25px 0 rgba(0,0,0,.5);
}

.item-picture
{
    position: relative;
    min-height: 300px;
}

.item-picture > img
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.item-picture > img:hover
{
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
}

.item-header > .item-name
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #200772;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-header > .item-type
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    display: block;
    color: #200772;
    opacity: .5;
}

.item-header > .item-cost
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: #00af64;
}

.item-header > .item-cost:hover
{
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
}

.item-description
{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#mapping-list:checked ~ section > .item
{
    position: relative;
    display: block;
    width: 70%;
}

#mapping-list:checked ~ section > .item > .item-picture
{
    display: inline-block;
    width: 25%;
}

#mapping-list:checked ~ section > .item > .item-picture > img
{
    top: 0;
}

#mapping-list:checked ~ section > .item > .item-header
{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 10px;
}

#mapping-list:checked ~ section > .item > .item-description
{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 10px;
}

.star-side
{
    margin-left: -15px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}

.item-stars
{
    font-size: 40px;
    margin-top: 0;
    direction: rtl;
    text-align: left;
}

.item-stars > label:hover:before,
.item-stars > label:hover ~ label:before
{
    cursor: pointer;
    color: #bf3030;
}

.item-stars > input
{
    display: none;
}

.item-stars > input[type='radio']:checked ~ label
{
    color: #f00;
}
