@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body
{
    margin: 0;
    padding: 0;
}

.cat
{
    width: 200px;
    float: left;
    margin: 0 .5% 20px;
    position: relative;
}

.cat .description:hover
{
    box-shadow: 0 0 12px rgba(0, 0, 0, .7);
}

.cat .description
{
    overflow: hidden;
    padding: 0 10px;
    height: 300px;
    margin-bottom: 0;
    white-space: normal;
}

#view:not(:checked) ~ .cat .description:hover
{
    background-color: #a9a9a9;
    position: absolute;
    bottom: -300px;
    height: auto;
}

.type,
.price,
.ex-price,
.name-link
{
    font-size: 20px;
    text-align: center;
}

.price,
.ex-price
{
    width: 100%;
    height: 22px;
    float: left;
    text-align: center;

}

.price:hover
{
    color: #ffd700;
}

.ex-price
{
    width: 100%;
    text-decoration: line-through;
    color: #f00;
}

#view:not(:checked) ~ .cat .photo
{
    position: relative;
    top: 0;
    overflow: visible;
    float: left;
    width: 200px;
    /*height: auto;*/
    height: 300px;
}

#view:not(:checked) ~ .cat .photo img
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cat .photo img:hover
{
    box-shadow: 5px 5px 8px rgba(219, 112, 147, .7),
    -5px -5px 8px rgba(219, 112, 147, .7);
}

.name-link
{
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto auto;
    padding: 0 10px;
}

.name-link a:hover
{
    color: #008b8a;
}

.name-link a:visited:hover
{
    color: #008b8a;
}

.name-link a:visited
{
    color: #db7093;
}

.cat .rating
{
    width: 100%;
    margin-left: -30px;
    border: 0;
    padding-bottom: 0;
}

.rating input
{
    display: none;
}

.rating label:before
{
    margin: 5px;
    font-size: 1.5em;
    font-family: FontAwesome, serif;
    display: inline-block;
    content: '\f005';
}

.rating > .half:before
{
    content: '\f089';
    position: absolute;
}

.rating > label
{
    color: #ddd;
    float: right;
}

.cat > .rating > input:checked ~ label,
.cat > .rating:not(:checked) > label:hover,
.cat > .rating:not(:checked) > label:hover ~ label
{
    color: #ffd700;
}

.cat > .rating > input:checked + label:hover,
.cat > .rating > input:checked ~ label:hover,
.cat > .rating > label:hover ~ input:checked ~ label,
.cat > .rating > input:checked ~ label:hover ~ label
{
    color: #ffed85;
}

#view,
#view-label
{
    display: block;
}

#view:checked ~ .cat
{
    margin-right: 20px;
    margin-left: auto;
    margin-top: 20px;
    width: 95%;
    height: auto;
}

#view:checked ~ .cat > .photo
{
    margin: 0;
    padding: 20px 20px;
    float: left;
}

#view:checked ~ .cat .name-link
{
    width: 300px;
    margin: 20px 0;
    text-align: left;
    float: none;
}

#view:checked ~ .cat .rating
{
    width: 190px;
    text-align: left;
    display: inline-block;
    margin-right: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-after: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    float: none;
}

#view:checked ~ .cat .type,
#view:checked ~ .cat .price,
#view:checked ~ .cat .ex-price
{
    margin: 0;
    text-align: left;
}

#view:checked ~ .cat .type
{
    width: 100%;
}

#view:checked ~ .cat .ex-price
{
    float: left;
}

#view:checked ~ .cat .price,
#view:checked ~ .cat .ex-price
{
    margin: 0;
    width: 100px;
}

#view:checked ~ .cat .description
{
    font-size: 18px;
    display: inline-block;
    float: none;
    width: 800px;
    height: 200px;
}

#view:checked ~ .cat .rating
{
    overflow: hidden;
    float: none;
    width: 180px;
    margin: 0 20% 0 -2%;
    text-align: center;
}
