label
{
    font-size: 35px;
}

abbr
{
    text-decoration: underline;
}

.price
{
    color: #a52a2a;
    font-weight: bold;
    font-size: .85em;
}

.kittenCard
{
    border: 1px solid transparent;
}

.kittenCard:hover
{
    border: 1px ridge black;
    background-color: #f0ffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .75);
}

#lines:checked ~ .kittenCard
{
    height: 300px;
    display: block;
}

#blocks:checked ~ .kittenCard
{
    margin: 20px;
    padding: 10px;
    width: 320px;
    vertical-align: bottom;
    display: inline-block;
}

.pictureBlock
{
    display: inline-block;
    text-align: center;
}

#blocks:checked ~ .kittenCard .pictureBlock
{
    width: 100%;
    line-height: 300px;
}

#lines:checked ~ .kittenCard .pictureBlock
{
    width: 30%;
    line-height: 300px;
}

.pictureSelf
{
    max-height: 300px;
    max-width: 300px;
    display: inline-block;
    text-align: center;
}

#lines:checked ~ .kittenCard .pictureBlock .pictureSelf
{
    vertical-align: middle;
}

#blocks:checked ~ .kittenCard .pictureBlock .pictureSelf
{
    vertical-align: bottom;
    top: 15px;
    bottom: 0;
    margin: auto;
}

.titleInfo
{
    font-size: 30px;
    white-space: nowrap;
    position: relative;
    display: block;
}

.titleInfo p
{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
}

#lines:checked ~ .kittenCard .titleInfo
{
    left: 30%;
    width: 40%;
    height: 300px;
    top: -300px;
}

#blocks:checked ~ .kittenCard .titleInfo
{
    height: 150px;
}

.description
{
    font-size: 20px;
    display: block;
    position: relative;
}

#lines:checked ~ .kittenCard .description
{
    left: 70%;
    width: 30%;
    height: 300px;
    top: -600px;

}

#blocks:checked ~ .kittenCard .description
{
    display: block;
}

#blocks:checked ~ .kittenCard .description p:nth-child(2)
{
    height: 300px;
    display: block;
}

/*RATING STARS*/

.rating
{
    overflow: hidden;
    display: inline-block;
    left: 0;
    right: auto;
    width: 200px;
    line-height: 32px;
    transform: scaleX(-1);
    word-spacing: 0;
}

.rating-input
{
    display: none;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0 0 0 -32px;
    opacity: 0;

}

.rating-star:hover
{
    background-position: 0 0;
}

.rating-star
{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('star.png') 0 -32px;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star
{
    background-position: 0 0;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star
{
    background-position: 0 0;
}
