body {
    min-width: 800px;
}

header h1
{
    font-size: 60px;
    text-align: center;
}

article
{
    height: 600px;
    width: 300px;
    float: left;
    margin-right: 10px; 
}

input[class='list']:checked ~ article div
{
    overflow: hidden;
    max-height: 240px;
    width: 300px;
}

input[class='list']:checked ~ article div:not(.stars)
{
    display: inline;
    margin-right: 40px;
    float: left;
}

input[class='list']:checked ~ article .description
{
    width: 300px;
}

input[class='list']:checked ~ article
{
    width: 100%;
    height: 280px;
    margin-bottom: 5px;
}

article:hover
{
    background-color: #87CEFA;
}

article img
{
    width: 100%;
}

article .name
{
    text-align: center;
}

article .description
{
    margin: 15px;
}

article .name .link
{
    text-overflow: ellipsis;
    overflow: hidden;
}

article .name .link,
article .name .category,
article .name .stars
{
    margin: 0;
}

article .name .price .oldPrice
{
    text-decoration: line-through;
}

article .description p:first-child
{
    font-weight: bold;
}

.stars
{
    margin-bottom: 5px;
    direction: rtl;
    display: inline-block;

}

.stars > span
{
    display: inline-block;
    position: relative;
    width: 1.5em;
}

.stars > span:hover:before,
.stars > span:hover ~ span:before
{
    content: '\2605';
    position: absolute;
}
